/**Reset**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
body {
    font-family: 'Fredoka', sans-serif;
    padding-top: 4cm;
    width: 80%;
    margin: auto;
   
  }

  ul{
      list-style: none;
  }

/*layout*/


 .item{
     display: flex;
     width: 33%;
     margin: auto;
     background-color: black;
     color: white;
    box-sizing: border-box;
    flex-direction: row;
    

  
 }

  

  
.flex-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

img{
    width: 100px;
}



  /**titolo**/
  header{
      color: rgba(229,49,112,255);
      width: 80%;
      margin: auto;
      text-align: center;
      

      
  }

   /*sotto-titolo*/
  .sotto-titolo{
      width: 80%;
     margin: auto;
    text-align: center;
    
  }

  /*email*/
  .email{
      color: aquamarine;
  }
  